/*//////////////////////////// main /////////////////////////////////*/
.styleNav{
    font-size: 120%;
/*    font-family: 'Nunito Sans', sans-serif;*/
    font-family: 'Lato', sans-serif;
    background-color: #EB7260;
    color: white;
}

.sectionLight{
    background-color: #354458;
    color: white;
}

.about-me{
    background-color: #eceeef;
    color: #354458;
}

.alignPar{
    text-align: justify;
    vertical-align: middle;
}

.jumbotron{
    text-align: center;
    background: none;
    height: 100%;
}

.lead{
    max-width: 400px;
    display: block;
    margin: auto;
    padding: 5px;
    line-height: 1.7rem;
    margin-top: 20px;
}
a:hover{
    color: lightgray;
}

a:visited{
    color: white;
}

a, navbarNavDropdown{
    color: #fff;
}

.navbar-nav {
    float:none;
    margin: auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    margin-right: 20px;
    margin-left: 20px;
/*    border-bottom: 1px solid white;*/
    display: inline-block;
    float: none;
    color: white;
}

.navbar-brand{
    display: block;
    margin: auto;
}

.navbar-toggler {
    display: block;
    margin: auto;
    border-color: rgba(255,255,255,1);
    color: white;
}

h4.card-title, a.dropdown-item:visited{
    color: #354458;
}

.profilePhoto{
    display: block;
    margin: auto;
    border-radius: 100%;
}

.col-sm-12{
    height: 100%;
    box-sizing: 100%;
}

.slightPad{
    padding: 10px;
}
/*///////////////////////Projects///////////////////*/


.project-row{
    display: block;
    margin: auto;
}

.project-text{
    padding: 20px;
}

.btn{
    white-space: normal;
}

.btn-link {
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    font-weight: 400;
    color: white;
    border-radius: 0;
    display: block;
    margin: auto;
    max-width: 100%;
    word-break:break-all;
}

.btn-link:hover {
    color: white;
    opacity: 0.9;
    text-decoration: none;
}

.btn-link:visited {
    color: white;
    text-decoration: none;
}
.btn-link:focus{
    color: white;
    text-decoration: none;
}

.arduinopics{
    display: block;
    margin: auto;
    padding: 20px;
}

.title-container{
    width: 100%;
    padding: 1px;
}

/*////////////Footer///////////////////////////*/

.copyright{
    background-color: #77C5F7;
    color: white;
    padding: 10px;
}

p.copyright{
    display: block;
    text-align: center;
}

/*////////////////Experience///////////////////*/
.exp-title{
    font-family: 'Lato', sans-serif;
    font-size: 200%;
    text-transform: uppercase;
    max-width: 100%;
    display: block;
    margin: auto;
    text-align: center;
    padding-bottom: 9px;
}

.exp-img{
    box-sizing: border-box;

    border-radius: 10px;
    
    display: block;
    float: none;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    position: relative;
    max-width: 90%;
    max-height: 90%;
}
.vector-container{
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}
.vectors{
    box-sizing: border-box;

    border-radius: 10px;
    
    display: block;
    float: none;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    position: relative;
    max-width: 200px;
    max-height: 2000px;
}

.exp-text{
    display: inline-block;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-size: 100%;
/*
    position:relative;
    top:50%;
    transform: translateY(-50%);
*/
    margin: auto;
}

.box{
    display: inline-block;
    margin: auto;
    float: none;
    text-align: center;
}

.section-wrapper{
    padding: 50px;
}

/*//////////////////// BLOGS //////////////////////*/
.blog-col{
    height: 90vh;
    background-color: #eceeef;
    color: #354458;
}

.blog-thumbnail{
    display: block;
    margin: auto;
    border-radius: 10px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    background-color: white;

    width: 50%;
    max-width: 100%;
    max-height: 100%;
}

.cardb-block:hover{
    opacity: .8;
}
.card{
    display: block;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    max-width: 25rem;
}
.card-text{
    color: #354458;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

img.card-img-top{
    max-height: 400px;
    border-radius: 7px;
    max-width: 100%;
}

a.blog-col{
    background-color: #eceeef;
}

.blog-text{
    font-family: 'Lato', serif;
    color: darkslategray;
    font-size: 20px;
}

.padText{
    padding-left: 40px;
    text-align: justify;
    padding-right: 40px;
    font-style: italic;
}

a.credits{
    display: block;
    margin: auto;
    color: gray;
    font-style: italic;
    font-size: 60%;
}
a.credits:visited{
    color: gray;
    font-style: italic;
    font-size: 60%;
}

a.credits:hover{
    color: gray;
    font-style: italic;
    font-size: 60%;
}